{% extends 'base.html' %}
{% block title %}{{cats}} Notes{% endblock title%} 
{% block content %}
<br>
      <br>
{% if category_post %}

<h1>Notes related to {{cats}} </h1>
<br>
{% for post in category_post  %}
<div class="card">
    <div class="card-header"><strong>{{post.subject}} </strong>  </div>
    <div class="card-body">
      <p class="card-title"> 
        {% if user.is_authenticated %}
        {% comment %} - <a href="{% url 'edit_post' post.pk%}">(Edit)</a> {% endcomment %}
        {% comment %} <a href="{% url 'delete_post' post.pk%}">(Delete)</a> {% endcomment %}
        
        {% endif %}
      </p>
      <p class="card-text">{{post.description|slice:":100" |safe}}</p>
    <a href="{{post.notes.url}}"class="btn btn-secondary" >Click to view</a>
    <a href="{{post.notes.url}}" class="btn btn-secondary" download>Download</a>
    </div>
  </div>
  <br>

{% endfor %}

 {% else %}
 Sorry there is no notes related to this branch
{% endif %}

{% endblock %}
